<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <csl translate="label" module="recentreviews">
            <label>CSL</label>
            <sort_order>100</sort_order>
        </csl>
    </tabs>
    <sections>
        <csl translate="label" module="recentreviews">
            <label>Reviews</label>
            <tab>csl</tab>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <recentreviews_config translate="label" module="recentreviews">
                    <label>Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enable reviews: </label>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </enabled>
						<number translate="label">
                            <label>Total of reviews</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </number>
                        <image translate="label">
                            <label>Display image: </label>
                            <frontend_type>select</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </image>
                    </fields>
                </recentreviews_config>
            </groups>
        </csl>
    </sections>
</config>